<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>WEATHER STATION</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>WEATHER STATION</h1>

        <tr th:each="weather: ${weather}">
            <p>Date:
            <td th:text="${weather.getMeasuredAt().toLocalDate()}"></td>
            </p>
            <p>Temperature:
            <td th:text="${weather.getTemperature()}"></td>
            °C</p>
            <p>Humidity:
            <td th:text="${weather.getHumidity()}"></td>
            %</p>
            <p>Pressure:
            <td th:text="${weather.getAtmosphericPressure()}"></td>
            hPa</p>
        </tr>
    </div>
</div>
</body>
</html>
