<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>WEATHER STATION</title>

</head>

<body style="background: url(https://s7d2.scene7.com/is/image/TWCNews/0801_n13_chuluotaweatherjpg?wid=2000&hei=1125&$wide-bg$)
; background-size:100;">
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>LOWEST AND HIGHEST MEASUREMENTS BY DATE</h1>


        <div class="btn-group-vertical">


            <a class="btn btn-lg btn-primary" href="../../lowest-temp" role="button">LOWEST TEMPERATURE BY DATE&raquo;</a>
            <a class="btn btn-lg btn-primary" href="../../highest-temp" role="button">HIGHEST TEMPERATURE BY DATE&raquo;</a>
            <a class="btn btn-lg btn-primary" href="../../lowest-humidity" role="button">LOWEST HUMIDITY BY DATE&raquo;</a>
            <a class="btn btn-lg btn-primary" href="../../highest-humidity" role="button">HIGHEST HUMIDITY BY DATE&raquo;</a>
            <a class="btn btn-lg btn-primary" href="../../lowest-pressure" role="button">LOWEST PRESSURE BY DATE&raquo;</a>
            <a class="btn btn-lg btn-primary" href="../../highest-pressure" role="button">HIGHEST PRESSURE BY DATE&raquo;</a>


        </div>
    </div>
</div>
</body>
</html>